/* CSS declarations go here */
body{
	background-color: #ccc;
}
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: #389262;
}
.post{
	font-size-adjust: .58;
	word-wrap: break-word;
	overflow: hidden;
	cursor: move;
	box-shadow: 3px 3px 1px #222;
}

.postcolor{
	height:50px;
	width:50px;
	box-shadow: 1px 1px 1px #222;
	margin: 5px;
	position: relative;
	float: left;
}
.editactive{
	border:2px solid black;
}
.editmode{
	height:50px;
	width:50px;
	box-shadow: 1px 1px 1px #222;
	margin: 5px;
	position: relative;
	float: left;
}

.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}
.black{
	background-color: black;
}
.white{
	background-color: white;
}

.font-white{
	color:white;
}
.font-red{
	color:red;
}
.font-green{
	color:green;
}
.font-blue{
	color:blue;
}
.font-yellow{
	color:yellow;
}
.font-black{
	color:black;
}

.size-3x3{
	height:12em;
	width:12em;
	padding:0.5em;
	margin:0.5em;
}

.size-3x5{
	height:12em;
	width:18em;	padding:0.5em;
	margin:0.5em;
}
.size-5x3{
	height:18em;
	width:12em;
	padding:0.5em;
	margin:0.5em;
}
.size-5x5{
	height:18em;
	width:18em;
	padding:0.5em;
	margin:0.5em;
}